@model FixedAssets.ViewModels.FixedModuleViewModel
@{ ViewData["Title"] = "Purchases Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>

    #searchData .rotated {
        width: 100%;
        color: white;
        margin: 0 auto;
        background: #398fea;
        text-align: center;
    }

    tbody tr:hover {
        cursor: pointer;
    }

    .select2 {
        font-weight: 300;
        width: 100% !important;
    }

    .select2-container .select2-selection--single {
        height: 40px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 38px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 40px;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 20px;
    }
</style>

<style type="text/css" media="only screen and (min-width: 1050px)">

    #searchData .triangle-topleft {
        width: 0;
        height: 0;
        border-top: 90px solid #398fea;
        border-right: 90px solid transparent;
        position: absolute;
    }

    #searchData .rotated {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        width: 120px;
        color: white;
        font-weight: bold;
        background-color: #398fea;
        text-align: center;
        position: absolute;
        margin-top: 26px;
        margin-left: -30px;
        background: transparent;
    }
</style>

<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Fixed Asset Write Off
            </h6>
            <div class="element-box" id="searchData" style="display: none; padding: 3px; margin: 5px">
                <div class="row">
                    <div class="col-sm-12">
                        <div>

                            <div class="triangle-topleft"></div>
                            <div class="rotated">Filters</div>

                            <div class="row" style=" max-width: 600px; margin: 0 auto;">
                                <div class="col-sm-6">
                                    <div data-filter-container="" data-select2-id="50">
                                        <label class="text-right control-label col-form-label">
                                            Document Number
                                        </label>
                                        <select class="form-control select2" id="searchStatus" name="SelectedActiveId" onchange="HideTextBox(this);">
                                            <option value="-1" selected>- No Filter -</option>
                                            <option value="1">Multiple</option>
                                            <option value="0">Range</option>
                                        </select>

                                    </div>
                                    <div id="multiple" class="col-sm-12" style="display:none">
                                        <div class="form-group">

                                            <select class="form-control select2">
                                                <option selected disabled>Select</option>
                                                @foreach (var item in Model.fixedAssetWriteOff)
                                                {
                                                    <option value="@item.Id">@item.DocumentCode-@item.Id</option>

                                                }
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div id="rangeFrom" class="col-sm-6" style="display:none">
                                            <div class="form-group">

                                                <select id="rangeFrom" class="form-control select2">
                                                    <option selected disabled>From</option>
                                                    @foreach (var item in Model.fixedAssetWriteOff)
                                                    {
                                                        <option value="@item.Id">@item.DocumentCode-@item.Id</option>

                                                    }
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div id="rangeTo" class="form-group" style="display:none">

                                                <select class="form-control select2">
                                                    <option selected disabled>To</option>
                                                    @foreach (var item in Model.fixedAssetWriteOff)
                                                    {
                                                        <option value="@item.Id">@item.DocumentCode-@item.Id</option>

                                                    }
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group row"><label class="col-sm-12 control-label col-form-label">Transaction Date</label><div class="col-sm-12"><input id="startDate" autocomplete="off" class="form-control" data-val="true" data-val-date="The field Transaction Date must be a date." datepicker="Starting At" dp-format="dd M yyyy" name="TransactionDateFrom" placeholder="Starting At" type="date" value=""></div></div>
                                    <div class="form-group row"><div class="col-sm-12"><input id="endDate" autocomplete="off" class="form-control" data-val="true" data-val-date="The field  must be a date." datepicker="Ending At" dp-format="dd M yyyy" name="TransactionDateTo" placeholder="Ending At" type="date" value=""></div></div>
                                    <div class="form-group row">
                                        <label class="col-sm-12 control-label col-form-label">Status</label><div class="col-sm-12">
                                            <select class="form-control select2" id="searchStatus1" name="SelectedActiveId">
                                                <option value="-1" selected>- ALL -</option>
                                                <option value="1">Draft</option>
                                                <option value="0">Save</option>
                                                <option value="2">Post</option>
                                                <option value="3">Void</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="btn-container text-center" style="padding-bottom: 10px;">
                    <button onclick="searchItem()" type="submit" class="btn btn-primary btn-fix-width" id="btn-search">Search</button>
                    <button onclick="toggleSearch()" class="btn btn-outline-primary btn-fix-width close-filter" id="btn-close">Close</button>
                </div>
            </div>
            <div class="element-box">
                <div class="row">
                    <input class="box btn-primary card-hover card-sm" style="border-radius:5px; cursor:pointer; margin-left:1%" type="button" value="Create" onclick="location.href='@Url.Action("Create", "FixedAssetWriteOff")'" />
                    <button class="box btn-secondary" style="border-radius:5px; cursor:pointer; margin-left:1%" data-target="" data-toggle="modal"> Listing</button>

                    <button id="searchButton" onclick="toggleSearch()" class="box search-filter btn-outline-primary" style="border-radius:5px; cursor:pointer; margin-left:1%">
                        <i class="mdi mdi-file-find"></i><span class="">Search</span>
                    </button>
                </div>
                <br>

                <div class="table-responsive">
                    @if (ViewBag.error == "Code exists")
                    {
                        @Html.Raw("<div class=\"alert alert-danger\" role=\"alert\">Code already exists!</div>");
                    }
                    <table id="zero_config" class="table table-bordered table-lg table-v2 table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    Transaction Date
                                </th>
                                <th>
                                    Document Code
                                </th>
                                <th>
                                    Status
                                </th>
                                <th id="action">
                                    Created By
                                </th>

                            </tr>
                        </thead>
                        <tbody id="tableItems">
                            @foreach (var item in Model.fixedAssetWriteOff)
                            {

                                <tr id="@item.Id" editable="@item.CreationStatus">
                                    <th>
                                        @item.TransDate
                                    </th>
                                    <th>
                                        @item.DocumentCode
                                    </th>
                                    <th>
                                        @item.CreationStatus
                                    </th>

                                    <th id="action">
                                        @item.CreatedBy
                                    </th>


                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <br /><br />
            </div>
        </div>
        </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="Exportmodal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Export
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                </div>
                <div class="modal-body">

                    <p>
                        Please click on Export to download All Inovoices<br>
                    </p>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Export", "Master_AllModule", FormMethod.Post))
                    {
                        <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                        <button class="btn btn-primary" type="submit" value="Export"> Export</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="Importmodal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-action="Import" method="POST" class="form-horizontal" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Import
                        </h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Please select your updated csv file and click on import.<br>If you do not have the csv format, you may download it from here.
                            <a href="~/files/FixedAssets.csv" class="btn btn-dark btn-sm">Download</a>
                        </p>
                        <div class="form-group row">
                            <label class="col-sm-1 text-left control-label col-form-label">File</label>
                            <div class="col-sm-11">
                                <input type="file" id="importfilesetting" name="importfilesetting" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                        <button class="btn btn-primary" type="submit" value="Create"> Import</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
        function HideTextBox(ddlId) {
            var ControlName = document.getElementById("searchStatus");
            if (ControlName.value == "-1") {
                document.getElementById('multiple').style.display = 'none';
                document.getElementById('rangeFrom').style.display = 'none';
                document.getElementById('rangeTo').style.display = 'none';



            }
            if (ControlName.value == "1") {
                document.getElementById('multiple').style.display = 'block';
                document.getElementById('rangeFrom').style.display = 'none';
                document.getElementById('rangeTo').style.display = 'none';



            }
            if (ControlName.value == "0") {
                document.getElementById('multiple').style.display = 'none';
                document.getElementById('rangeFrom').style.display = 'block';
                document.getElementById('rangeTo').style.display = 'block';



            }
        };
    </script>
    <script>

        $('#zero_config').dataTable({
            "bAutoWidth": false,
            "searching": false
        });

        var table = $('#zero_config').dataTable();
        var tableD = $('#zero_config').DataTable();

        $(document).ready(function () {
            $('#tableItems').on('click', 'tr', function () {
                var row = tableD.row(this).node();

                var id = (tableD.row(this).node()).id;
                var iseditable = $(row).attr("editable");
                debugger;

                if (iseditable == 3) alert("Data is Posted Cannot be Edited");
                else window.location.href = "/FixedAssetWriteOff/Edit?id=" + id;

            });
        });





        function searchItem() {

            $("#action").hide();
            let startdate = $('#searchData #startDate').val();
            let enddate = $('#searchData #endDate').val();
            let DocNumber = $('#searchData #searchStatus').val();
            let status = $('#searchData #searchStatus1').val();

            var data = new FormData();
            data.append("StartDat", startdate);
            data.append("EndDat", enddate);
            data.append("DocNumber", DocNumber);
            data.append("Stats", status);


            $.ajax({
                url: "/FixedAssetWriteOff/SearchFixedAssetWriteOff",
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    table.fnClearTable();
                    var html = "";

                    $.each(data, function (index, record) {
                        html += '<tr id=' + record.id + ' editable=' + record.creationStatus + '>';

                        html += '<td>' + record.transDate + '</td>';
                        html += '<td>' + record.documentCode + '</td>';
                        html += '<td>' + record.status + '</td>';

                        html += "</tr>";
                    });

                    $("#tableItems").html(html);
                    debugger;
                },
                error: function () {
                    alert("Server error. Please contact your adminisrator!");
                }
            });


        }
        function toggleSearch() {

            $("#action").show();
            var search = document.getElementById("searchData");
            var searchBtn = document.getElementById("searchButton");
            if (search.style.display === "none") {
                search.style.display = "block";
                searchBtn.style.display = "none";
            } else {
                search.style.display = "none";
                searchBtn.style.display = "block";
            }
        }


    </script>
}
