@model IEnumerable<FixedModules.Data.RoleMenuPermission>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>Modules</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/extra-libs/multicheck/multicheck.css">
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Modules</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Module</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Index</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Module List</h5>
                        <div class="table-responsive">

                            <a style="float:right;margin-right:10px;margin-top:5px;" asp-action="CreateParent" asp-controller="NavigationMenu" class="btn btn-success btn-sm">
                                @*<span class="fa fa-trash-alt"></span>*@ Add New Module
                            </a>
                            <a style="float:right;margin-right:10px;margin-top:5px;" asp-action="Create" asp-controller="NavigationMenu" class="btn btn-success btn-sm">
                                @*<span class="fa fa-trash-alt"></span>*@ Add New Sub Module
                            </a>
                            <br /><br />

                            <table id="zero_config" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NavigationMenu.Name)
                                        </th>
                                        @*<th>
                        @Html.DisplayNameFor(model => model.ParentNavigationMenu)
                    </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.NavigationMenu.ControllerName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NavigationMenu.ActionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NavigationMenu.Visible)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.NavigationMenu.Name
                                            </td>
                                            @*<td>
                            @item.NavigationMenu.ParentNavigationMenu.Name
                        </td>*@
                                            <td>
                                                @item.NavigationMenu.ControllerName
                                            </td>
                                            <td>
                                                @item.NavigationMenu.ActionName
                                            </td>
                                            <td>
                                                @item.Status
                                            </td>

                                            @if (item.Status == 5 && item.NavigationMenu.ControllerName != null)
                                            {
                                                <td>
                                                    <a class="btn btn-cyan btn-sm" asp-action="Edit" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-edit"></span> Edit
                                                    </a>
                                                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-eye"></span> View
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-trash-alt"></span> Delete
                                                    </a>
                                                </td>

                                            }
                                            else if (item.Status == 11 && item.NavigationMenu.ControllerName != null)
                                            {
                                                <td>
                                                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-eye"></span> View
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-trash-alt"></span> Delete
                                                    </a>
                                                </td>
                                            }
                                            else if (item.Status == 2 && item.NavigationMenu.ControllerName != null)
                                            {
                                                <td>
                                                    <a class="btn btn-cyan btn-sm" asp-action="Edit" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-edit"></span> Edit
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-trash-alt"></span> Delete
                                                    </a>
                                                </td>
                                            }
                                            else if (item.Status == 3 && item.NavigationMenu.ControllerName != null)
                                            {
                                                <td>
                                                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-eye"></span> View
                                                    </a>
                                                </td>
                                            }
                                            else if (item.Status == 15 && item.NavigationMenu.ControllerName != null)
                                            {
                                                <td>
                                                    <a class="btn btn-cyan btn-sm" asp-action="Edit" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-edit"></span> Edit
                                                    </a>
                                                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-eye"></span> View
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.NavigationMenu.Id">
                                                        <span class="fa fa-trash-alt"></span> Delete
                                                    </a>
                                                </td>
                                            }
                                            else if (item.NavigationMenu.ControllerName == null || item.NavigationMenu.ActionName == null)
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                                @*<tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentNavigationMenu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ControllerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActionName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </tfoot>*@
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

</body>

</html>
