@model FixedModules.Models.RolesPermissionViewModel


@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>

    <div>
        <h4>RoleMenuPermission</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.RoleId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.RoleId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NavigationMenu)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NavigationMenu.Id)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>Alexis Pro</title>
    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/select2/dist/css/select2.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Details</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" style="height:100%">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Module info</h4>
                        <div class="form-group row">
                            <label for="name" class="col-md-2 m-t-15">Child Module Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="RolesName" id="name" placeholder="@Html.DisplayFor(model => model.RolesName)" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="parentMenu" class="col-md-2 m-t-15">Parent Menu</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="NavName" id="cName" placeholder="@Html.DisplayFor(model => model.NavName)" readonly>
                            </div>
                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <a class="btn btn-primary mdi mdi-subdirectory-arrow-left" asp-action="Index"> Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    @*<script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>*@
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    @*<script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>*@
    @*<script src="~/assets/extra-libs/sparkline/sparkline.js"></script>*@
    <!--Wave Effects -->
    @*<script src="~/dist/js/waves.js"></script>*@
    <!--Menu sidebar -->
    @*<script src="~/dist/js/sidebarmenu.js"></script>*@
    <!--Custom JavaScript -->
    @*<script src="~/dist/js/custom.min.js"></script>*@
    <!-- this page js -->
    @*<script src="~/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>*@
    @*<script src="~/dist/js/pages/mask/mask.init.js"></script>*@
    <script src="~/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/libs/select2/dist/js/select2.min.js"></script>
    @*<script src="~/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>*@
    @*<script src="~/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>*@
    @*<script src="~/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>*@
    @*<script src="~/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>*@
    @*<script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>*@
    @*<script src="~/assets/libs/quill/dist/quill.min.js"></script>*@
    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

    </script>

</body>

</html>
