@model FixedModules.Models.Fixed_Asset_Register

@{ ViewData["Title"] = "Department-Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/DropButton.css" rel="stylesheet" />
<!-- Select2 CSS -->

<style>
    table th {
        background: #0073ff;
        color: #fff;
    }

    .wt-th {
        width: 160px;
    }

        .wt-th .dropbtn {
            min-width: 105px;
            color: white;
        }

    .pd_0 {
        padding: 0px;
    }

    .mbt {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .link {
        background: #007bff;
        text-align: right;
        padding-right: 8px;
        margin-bottom: 5px;
    }

        .link i {
            background: #60a9f7;
            width: 20px;
            text-align: center;
            color: #fff;
            font-size: 12px;
            height: 20px;
            top: 0px;
            line-height: 20px;
            margin-bottom: 4px;
        }

        .link span {
            color: #fff;
            text-align: left;
            float: left;
            padding-left: 10px;
        }

            .link span a {
            }

    .select2 {
        font-weight: 300;
        width: 100% !important;
    }

    .select2-container .select2-selection--single {
        height: 40px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 38px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 40px;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 20px;
    }

    .col-form-label {
        padding-top: calc(.375rem + 1px);
        padding-bottom: calc(.375rem + 1px);
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.5;
    }
</style>


<body>
    <div class="content-i">
        <div class="content-box">





            <div class="element-wrapper">
                <h6 class="element-header">
                    Fixed Asset Register
                </h6>


                @*<button class="box btn-outline-secondary" style="border-radius:5px; cursor:pointer; margin-left:1%" data-target="#Importmodal" data-toggle="modal"> Import</button>*@

                <div class="element-box">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body text-right">
                                <input class="btn btn-primary" type="button" value="Back" onclick="location.href='@Url.Action("Index", "Master_AllModule")'" />
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.error == "Code exists")
                    {
                        @Html.Raw("<div class=\"alert alert-danger\" role=\"alert\">Code already exists!</div>");
                    }
                    <div class="card-body z-depth-1">
                        <div class="detailContainer">
                            <form method="post" enctype='multipart/form-data' id="myform" onsubmit="FormSubmit(this)">

                                @*@Html.AntiForgeryToken()*@
                                <input type="hidden" asp-for="CreationStatus" />
                                <input type="hidden" asp-for="Id" />

                                <ul id="accordion" class="accordion">
                                    <li>
                                        <div class="link"><span>HEADER INFO</span><i onclick="hidedata()" class="fa fa-chevron-down"></i></div>
                                        <ul id="headerinfo" class="submenu">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.AssetCode)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="AssetCode" autocomplete="off" class="form-control" readonly />
                                                            <span asp-validation-for="AssetCode" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.AssetName)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="AssetName" autocomplete="off" class="form-control" onchange="depreciationpercentage()" required />
                                                            <span asp-validation-for="AssetName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.AssetType)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <select class="form-control select2" name="state" asp-for="AssetType" onchange="ChooseNondepreciation(this)" asp-items="@Model.asset_type">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.AssetCategory)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">

                                                                <select asp-for="AssetCategory" class="form-control select2" onchange="calculation()">
                                                                    @foreach (var item in Model.asset_Category)
                                                                    {
                                                                        <option value="@item.Id">@item.Code-@item.Name</option>

                                                                    }
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.AssetModel)</label>
                                                        <div class="col-sm-12">
                                                            <select asp-for="AssetModel" class="select2 form-control">
                                                                <option></option>
                                                                @foreach (var item in Model.asset_model)
                                                                {

                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.AssetBrand)</label>
                                                        <div class="col-sm-12">
                                                            <select asp-for="AssetBrand" class="select2 form-control">
                                                                <option></option>
                                                                @foreach (var item in Model.asset_brand)
                                                                {

                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.Remarks)</label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="Remarks" class="form-control" autocomplete="off" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><span>PURCHASE INFO</span><i onclick="hidedata1()" class="fa fa-chevron-down"></i></div>
                                        <ul id="purchaseinfo" class="submenu">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.SupplierID)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            @*<select asp-for="SupplierID" class="form-control" asp-items="@Model.StaticList"></select>*@
                                                            <select asp-for="SupplierID" class="select2 form-control">
                                                                @foreach (var item in Model.supplier)
                                                                {
                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.PurchaseDate)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input type="date" asp-for="PurchaseDate" autocomplete="off" class="form-control" />
                                                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.InvoiceNumber)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="InvoiceNumber" autocomplete="off" class="form-control" />
                                                            <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.TotalUnit)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input type="number" onchange="calculation()" value="0" asp-for="TotalUnit" autocomplete="off" class="form-control" min="0" required />
                                                            <span asp-validation-for="TotalUnit" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.UnitPrice)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input type="number" onchange="calculation()" value="0.00" min="0" asp-for="UnitPrice" autocomplete="off" class="form-control" />
                                                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.CapitalizeAmount)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="CapitalizeAmount" autocomplete="off" value="0.00" class="form-control" readonly />
                                                            <span asp-validation-for="CapitalizeAmount" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><span>DEPRECIATION INFO</span><i onclick="hidedata2()" class="fa fa-chevron-down"></i></div>
                                        <ul id="depreinfo" class="submenu">
                                            <div class="row" id="depreInfo">
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.DepreciationStartDate)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input type="date" asp-for="DepreciationStartDate" autocomplete="off" onchange="calculation()" class="form-control" />
                                                            <span asp-validation-for="DepreciationStartDate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.ResidualAmount)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input type="number" min="0" onchange="calculation()" value="0.00" asp-for="ResidualAmount" autocomplete="off" class="form-control" />
                                                            <span asp-validation-for="ResidualAmount" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.NetBookValue)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="NetBookValue" autocomplete="off" class="form-control" />
                                                            <span asp-validation-for="NetBookValue" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><span>DEPRECIATION METHOD</span><i onclick="hidedata3()" class="fa fa-chevron-down"></i></div>
                                        <ul id="depremethod" class="submenu">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.UtilizeLife)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            @*@foreach (var item in Model.utilize_life)
                                                    {
                                                        <input asp-for="UtilizeLife" autocomplete="off" class="form-control" readonly value="@item" />
                                                        <span asp-validation-for="UtilizeLife" class="text-danger"></span>
                                                    }*@
                                                            <input asp-for="UtilizeLife" autocomplete="off" class="form-control" readonly />
                                                            <span asp-validation-for="UtilizeLife" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.DepreciationpercentagePer)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="DepreciationpercentagePer" autocomplete="off" class="form-control" readonly />
                                                            <span asp-validation-for="DepreciationpercentagePer" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.DepreciationEndDate)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input type="date" asp-for="DepreciationEndDate" autocomplete="off" class="form-control" readonly />
                                                            <span asp-validation-for="DepreciationEndDate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><span>ACCOUNT INFO</span><i onclick="hidedata4()" class="fa fa-chevron-down"></i></div>
                                        <ul id="accntinfo" class="submenu">
                                            <div class="row" id="accountInfo">


                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.FixedAssetAccountID)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            @*<select asp-for="FixedAssetAccountID" class="form-control" asp-items="@Model.StaticList"></select>*@
                                                            <select asp-for="FixedAssetAccountID" class="select2 form-control">
                                                                @foreach (var item in Model.fixed_asset_account)
                                                                {
                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.PL_DepreciationAccount)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            @*<select asp-for="PL_DepreciationAccount" class="form-control" asp-items="@Model.StaticList"></select>*@
                                                            <select asp-for="PL_DepreciationAccount" class="select2 form-control">
                                                                @foreach (var item in Model.pl_description_account)
                                                                {
                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.PS_DepreciationAccount)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            @*<select asp-for="PS_DepreciationAccount" class="form-control" asp-items="@Model.StaticList"></select>*@
                                                            <select asp-for="PS_DepreciationAccount" class="select2 form-control">
                                                                @foreach (var item in Model.bs_description_account)
                                                                {
                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.DisposalGainAccount)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            @*<select asp-for="DisposalGainAccount" class="form-control" asp-items="@Model.StaticList"></select>*@
                                                            <select asp-for="DisposalGainAccount" class="select2 form-control">
                                                                @foreach (var item in Model.disposal_gain_account)
                                                                {
                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.DisposalLossAccount)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            @*<select asp-for="DisposalLossAccount" class="form-control" asp-items="@Model.StaticList"></select>*@
                                                            <select asp-for="DisposalLossAccount" class="select2 form-control">
                                                                @foreach (var item in Model.disposal_loss_account)
                                                                {
                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.writeOfAccount)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            @*<select asp-for="writeOfAccount" class="form-control" asp-items="@Model.StaticList"></select>*@
                                                            <select asp-for="writeOfAccount" class="select2 form-control">
                                                                @foreach (var item in Model.write_off_account)
                                                                {
                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><span>ADJUSTMENT</span><i onclick="hidedata5()" class="fa fa-chevron-down"></i></div>
                                        <ul id="adjustmnt" class="submenu">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.Adjustment_CapitalizeAmount)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="Adjustment_CapitalizeAmount" autocomplete="off" class="form-control" readonly />
                                                            <span asp-validation-for="Adjustment_CapitalizeAmount" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.Adjustment_ResidualAmount)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="Adjustment_ResidualAmount" autocomplete="off" class="form-control" readonly />
                                                            <span asp-validation-for="Adjustment_ResidualAmount" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.Adjustment_UtilizeLifeInMonths)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">

                                                            @*@foreach (var item in Model.utilize_life)
                                                    {
                                                        <input asp-for="Adjustment_UtilizeLifeInMonths" autocomplete="off" value="@item" class="form-control" readonly />
                                                        <span asp-validation-for="Adjustment_UtilizeLifeInMonths" class="text-danger"></span>
                                                    }*@
                                                            <input asp-for="Adjustment_UtilizeLifeInMonths" autocomplete="off" class="form-control" readonly />
                                                            <span asp-validation-for="Adjustment_UtilizeLifeInMonths" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><span>ATTACHMENT</span><i onclick="hidedata6()" class="fa fa-chevron-down"></i></div>
                                        <ul id="attachmnt" class="submenu">
                                            <div class="row">

                                                <div class="col-sm-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.Attachment)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <textarea asp-for="Attachment" class="form-control ckeditor"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (Model.AttchmentPath != "" && Model.AttchmentPath != null)
                                                {
                                                    <a href="@Model.AttchmentPath">@Model.AttchmentPath</a>
                                                }


                                                <div class="col-sm-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.Attachment)<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="AttachmentFile" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="link"><span>ASSET ANALYSIS</span><i onclick="hidedata7()" class="fa fa-chevron-down"></i></div>
                                        <ul id="assetanalysis" class="submenu">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>@Html.DisplayNameFor(a => a.AssetSubCode)</th>
                                                                    <th>@Html.DisplayNameFor(a => a.RegistrationNumber)</th>
                                                                    <th>@Html.DisplayNameFor(a => a.SerialNumber)</th>
                                                                    <th>@Html.DisplayNameFor(a => a.Department)</th>
                                                                    <th>@Html.DisplayNameFor(a => a.Location)</th>
                                                                    <th>@Html.DisplayNameFor(a => a.UnitPrice)</th>
                                                                    <th>@Html.DisplayNameFor(a => a.AllocationValue)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="bindmultiplerows">
                                                                <!--<tr>
                                                    <td>
                                                        <div class="col-sm-12 pd_0">
                                                            <input asp-for="AssetSubCode" autocomplete="off" class="form-control" readonly />
                                                            <span asp-validation-for="AssetSubCode" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-sm-12 pd_0">
                                                            <input asp-for="RegistrationNumber" autocomplete="off" class="form-control" />
                                                            <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-sm-12 pd_0">
                                                            <input asp-for="SerialNumber" autocomplete="off" class="form-control" />
                                                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="col-sm-12 pd_0">-->
                                                                @*<select asp-for="Department" class="form-control" asp-items="@Model.StaticList"></select>*@
                                                                <!--<select asp-for="Department" class="select2 form-control">
                                                                @foreach (var item in Model.department_master)
                                                                {
                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <div class="col-sm-12 pd_0">-->
                                                                @*<select asp-for="Location" class="form-control" asp-items="@Model.StaticList"></select>*@
                                                                <!--<select asp-for="Location" class="select2 form-control">
                                                                    @foreach (var item in Model.asset_location_master)
                                                                    {
                                                                        <option value="@item.Id">@item.Code-@item.Name</option>

                                                                    }
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="col-sm-12 pd_0">
                                                                <input id="priceunit" asp-for="UnitPrice" autocomplete="off" class="form-control" readonly value="1" />
                                                                <span asp-validation-for="UnitPrice" class="text-danger"></span>
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="col-sm-12 pd_0">
                                                                <input asp-for="AllocationValue" autocomplete="off" class="form-control" readonly />
                                                                <span asp-validation-for="AllocationValue" class="text-danger"></span>
                                                            </div>
                                                        </td>
                                                    </tr>-->

                                                            </tbody>
                                                        </table>

                                                    </div>

                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                </ul>



                                <div class="row">
                                    <div class="col-sm-12">
                                        <center class="mbt">
                                            <label>Active</label>
                                            <input asp-for="Status" class="m-1" />
                                        </center>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="btn-container text-center">

                                    <div class="dropdown btn btn-primary btn-fix-width wt-th">
                                        <button class="dropbtn" disabled>Save <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                        <div class="dropdown-content wt-th">
                                            <ul>
                                                <li style="margin-top:2px"><input type="button" onclick="Submit(1)" value="Draft" class="btn btn-secondary" style="width: 100%;" /></li>
                                                <li style="margin-top:2px"><input type="button" onclick="Submit(2)" value="Save" class="btn btn-success" style="width: 100%;" /></li>
                                                <li style="margin-top:2px"><input type="button" onclick="Submit(3)" value="Save & Post" class="btn btn-primary" style="width: 100%;" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button onclick="deletebutton()" class="mr-2 mb-0 btn btn-danger wt-th" type="button">Delete</button>


                                </div>
                            </form>
                        </div>
                    </div>



                </div>
                @*<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="Importmodal" role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form asp-action="Import" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                <div class="modal-header">
                           
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                                </div>
                                <div class="modal-body">
                               
                                    <div class="form-group row">
                                        <label class="col-sm-1 text-left control-label col-form-label">Analysis Code</label>
                                        <div class="col-sm-11">
                                            <select class="form-control select2">
                                                @foreach (var item in Model.analysis_Codes)
                                                {
                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                                    <button class="btn btn-primary" type="submit" value="Create"> Import</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/Scripts/Create.js"></script>
<script>


    $(document).ready(function () {
        $("#depreInfo").hide();
        $("#accountInfo").hide();


        $.ajax({
            url: "/Master_AllModule/DynamicRowCreation",
            type: "POST",
            data: { "rowcount": 1, "asssubcode": "", regis: "", serial: "", depart: "", loc: "", unit: "", allocation: "" },
            success: function (data) {
                $("#bindmultiplerows").html(data);
            },
            error: function () {
            }
        });

    });



    function deletebutton() {
        location.reload();

    }
    function calculation() {
        var id = $("#AssetCategory option:selected").val();

        var html = "";
        html += "<tr>";

        html += "<td></td>";
        html += "<td></td>";
        html += "<td></td>";
        html += "<td>Please wait while updating rows .....</td>";
        html += "<td></td>";
        html += "<td></td>";
        html += "<td></td>";

        html += "</tr>";


        $("#bindmultiplerows").html(html);


        $.ajax({
            url: "/Master_AllModule/FillAssetSubCode",
            type: "POST",
            data: { id: id },
            success: function (data) {
                $("#AssetCode").val(data);

                var assetsubcode = "";
                for (var i = 1; i <= $("#TotalUnit").val(); i++) {
                    assetsubcode += data + "-" + i + ",";
                }
                $("#AssetSubCode").val(assetsubcode);
            },
            error: function () {
            }
        });

        var utliselife = '@TempData["utilifelife"]';
        var depreciationstartdate = $("#DepreciationStartDate").val();
        var utilife = $("#UtilizeLife").val();
        var datesplit = depreciationstartdate.split("-");
        var date1 = datesplit[0];
        var date2 = datesplit[1];
        var date3 = datesplit[2];
        if (utliselife == "Years") {

            var result1 = (parseInt(date1) + parseInt(utilife)) + "-" + date2 + "-" + date3;
            $("#DepreciationEndDate").val(result1);

        }
        else if (utliselife == "Months") {

            var result2 = date1 + "-" + date2 + "-" + date3;
            var month = addMonths(new Date(result2), utilife);
            $("#DepreciationEndDate").val(month);

        }
        else {
            $.ajax({
                url: "/Master_AllModule/Filldate",
                type: "POST",
                data: { id: utilife, date: depreciationstartdate },
                success: function (data) {
                    $("#DepreciationEndDate").val(data);
                },
                error: function () {
                }
            });

        }

        function addMonths(date, months) {
            var d = date.getDate();
            date.setMonth(date.getMonth() + +months);
            if (date.getDate() != d) {
                date.setDate(0);
            }
            var datenew = new Date(date),
                mnth = ("0" + (datenew.getMonth() + 1)).slice(-2),
                day = ("0" + datenew.getDate()).slice(-2);
            return [datenew.getFullYear(), mnth, day].join("-");
        }

        var utliselife = '@TempData["utilifelife"]';
        var utilife = $("#UtilizeLife").val();
        var Enddate = $("#DepreciationEndDate").val();
        var startdate = $("#DepreciationStartDate").val();
        var data = parseInt(utilife);
        var reducingbal = '@TempData["reducingbalance"]';
        var dailyutilizelife = '@TempData["DailyUL"]';
        var Monthlyutilizelife = '@TempData["MonthlyUL"]';

        if (reducingbal == "True") {

            if (utliselife == "Years") {

                var result = ((100 / data) *2);
                $("#DepreciationpercentagePer").val(result);
            }
            if (utliselife == "Days") {

                var result = (100 / data) * 2;
                $("#DepreciationpercentagePer").val(result);
            }
            if (utliselife == "Months") {

                var result = (100 / data) * 2;
                $("#DepreciationpercentagePer").val(result);

            }


        }

         else if (dailyutilizelife == "True") {


            $.ajax({
                url: "/Master_AllModule/CalculateDate",
                type: "POST",
                data: { enddate: Enddate, startdte: startdate },
                success: function (data) {

                    if (utliselife == "Years") {

                        var result = 100 / data;
                            $("#DepreciationpercentagePer").val(result);
                    }
                    if (utliselife == "Days") {
                        var result = 100 / data;
                        $("#DepreciationpercentagePer").val(result);
                    }
                    if (utliselife == "Months") {

                        var result = 100 / data;
                        $("#DepreciationpercentagePer").val(result);

                    }
                },
                error: function () {
                }
            });




        }
        else {

            if (utliselife == "Years") {

                var result = (100 / data);
                $("#DepreciationpercentagePer").val(result);
            }

            if (utliselife == "Months") {

                var result = (100 / data);
                $("#DepreciationpercentagePer").val(result);

            }


        }


        $.ajax({
            url: "/Master_AllModule/Fillutilizelife",
            type: "POST",
            data: { id: id },
            success: function (data) {
                $("#UtilizeLife").val(data);
                $("#Adjustment_UtilizeLifeInMonths").val(data);
            },
            error: function () {
            }
        });





        var asssubcode =  $("#AssetCode").val();
        var registrationno = $("#RegistrationNumber").val();
        var serialno = $("#SerialNumber").val();
        var departmnt = $("#Department").val();
        var location = $("#Location").val();
        var unitprc = $("#UnitPrice").val();
        var allocationval = $("#AllocationValue").val();
        var total = $("#TotalUnit").val();
        if (total == 0) total = 1;




        var assetcode = $("#AssetCode").val();

        var unit = $("#TotalUnit").val();
        var price = $("#UnitPrice").val();
        var capitalizeamt = parseInt(unit * price);
        $("#CapitalizeAmount").val(capitalizeamt);
        $("#Adjustment_CapitalizeAmount").val(capitalizeamt);
        var capitalizeAmot = $("#CapitalizeAmount").val();
        var residualamt = $("#ResidualAmount").val();
        $("#Adjustment_ResidualAmount").val(residualamt);
        var netval = capitalizeAmot - residualamt;
        $("#NetBookValue").val(netval);

        var unitprice = capitalizeamt / unit;
        //$("#priceunit").val(unitprice);
        var allocationvalue = netval / unit;
        //$("#AllocationValue").val(allocationvalue);



        $.ajax({
            url: "/Master_AllModule/DynamicRowCreation",
            type: "POST",
            data: { "rowcount": total, "asssubcode": asssubcode, "registrationno": registrationno, "serial": serialno, "depart": departmnt, "loc": location, "unit": unitprice, "allocation": allocationvalue },
            success: function (data) {
                $("#bindmultiplerows").html(data);
            },
            error: function () {
            }
        });

    }




    function hidedata() {
        $("#headerinfo").toggle();

    }
    function hidedata1() {
        $("#purchaseinfo").toggle();
    }
    function hidedata2() {
        $("#depreinfo").toggle();
    }
    function hidedata3() {
        $("#depremethod").toggle();
    }
    function hidedata4() {
        $("#accntinfo").toggle();
    }
    function hidedata5() {
        $("#adjustmnt").toggle();
    }
    function hidedata6() {
        $("#attachmnt").toggle();
    }
    function hidedata7() {
        $("#assetanalysis").toggle();
    }



    //function toggleSearch() {

    //    $("#searchData11").show();
    //}



    function ChooseNondepreciation(e) {

        var asserttype = $("#AssetType").val();

        if (asserttype == '0') {
            $("#depreInfo").hide();
            $("#accountInfo").hide();
        }
        else {
            $("#depreInfo").show();
            $("#accountInfo").show();
        }
    }
    $("#mydate").datepicker().datepicker("setDate", new Date());
    $("#startDate").datepicker().datepicker("setDate", new Date());
    $("#endDate").datepicker().datepicker("setDate", new Date());

    

    $("input[type=text]").on("keypress", function (e) {
        if (e.which === 32 && !this.value.length)
            e.preventDefault();
    });

    $('.text-danger').on('DOMSubtreeModified', function () {
        var span_Text = document.getElementById("Code-error").innerText;
        if (span_Text == "Code Already Exist!") {
            $("#submit").attr("disabled", true)
            $("#submit").removeClass("btn btn-primary btn-fix-width");
            $("#submit").addClass("btn btn-secondary btn-fix-width");
        } else {
            $("#submit").attr("disabled", false)
            $("#submit").removeClass("btn btn-secondary btn-fix-width");
            $("#submit").addClass("btn btn-primary btn-fix-width");
        }
    })
</script>
}

