@model FixedAssets.Models.FixedAssetDisposal

@{ ViewData["Title"] = "Department-Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/DropButton.css" rel="stylesheet" />

<style>
    .lcss {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 15px;
        height: 40px;
    }

    table th {
        background: #0073ff;
        color: #fff;
    }

    .wt-th {
        width: 160px;
    }

        .wt-th .dropbtn {
            min-width: 105px;
            color: white;
        }

    .pd_0 {
        padding: 0px;
    }

    .mbt {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .link {
        background: #007bff;
        text-align: right;
        padding-right: 8px;
        margin-bottom: 5px;
    }

        .link i {
            background: #60a9f7;
            width: 20px;
            text-align: center;
            color: #fff;
            font-size: 12px;
            height: 20px;
            top: 0px;
            line-height: 20px;
            margin-bottom: 4px;
        }

        .link span {
            color: #fff;
            text-align: left;
            float: left;
            padding-left: 10px;
        }

            .link span a {
            }

    .select2 {
        font-weight: 300;
        width: 100% !important;
    }

    .select2-container .select2-selection--single {
        height: 40px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 38px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 40px;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 20px;
    }
</style>

<body>
    <div class="content-i">
        <div class="content-box">
            <div class="element-wrapper">
                <h6 class="element-header">
                    Fixed Asset Disposal
                </h6>
                <div class="element-box">
                    <div class="row">
                        <input class="box btn-secondary" style="border-radius:5px; cursor:pointer; margin-left:1%" type="button" value="Back" onclick="location.href='@Url.Action("Index", "FixedAssetDisposal")'" />
                    </div>
                    @if (ViewBag.error == "Code exists")
                    {
                        @Html.Raw("<div class=\"alert alert-danger\" role=\"alert\">Code already exists!</div>");
                    }
                    <div class="card-body z-depth-1">
                        <div class="detailContainer">
                            <form asp-action="Create" method="post" enctype='multipart/form-data'>

                                @*@Html.AntiForgeryToken()
                                    <input type="hidden" asp-for="CreationStatus" />
                                    <input type="hidden" asp-for="Id" />*@


                                <ul id="accordion" class="accordion">
                                    <li>
                                        <div id="headerinfo" class="link" onclick="hidedata()"><span>HEADER INFO</span><i class="fa fa-chevron-down"></i></div>
                                        <ul id="headerinfo" class="submenu">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.TransDate)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="TransDate" autocomplete="off" class="form-control" required />
                                                            <span asp-validation-for="TransDate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-12 control-label col-form-label">@Html.DisplayNameFor(a => a.Remark)<span class="value-mandatory"> *<i class="mdi mdi-value"></i></span></label>
                                                        <div class="col-sm-12">
                                                            <input asp-for="Remark" autocomplete="off" class="form-control" required />
                                                            <span asp-validation-for="Remark" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <div id="filter" class="link" onclick="hidedata1()"><span>FILTER</span><i class="fa fa-chevron-down"></i></div>
                                        <ul id="filter" class="submenu">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label class="col-sm-12 control-label col-form-label">Category<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <select class="form-control select2" id="searchStatus" name="SelectedActiveId" onchange="HideTextBox(this);">
                                                            <option value="-1" selected>- No Filter -</option>
                                                            <option value="1">Multiple</option>
                                                            <option value="0">Range</option>
                                                        </select>

                                                    </div>
                                                    <div id="multiple" class="col-sm-12" style="display:none">
                                                        <div class="form-group">

                                                            <select class="form-control select2">
                                                                <option selected disabled>Select</option>
                                                                @foreach (var item in Model.asset_subCodes)
                                                                {
                                                                    <option value="@item.Id">@item.Code-@item.Name</option>

                                                                }
                                                            </select>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div id="rangeFrom" class="col-sm-6" style="display:none">
                                                            <div class="form-group">

                                                                <select id="rangeFrom" class="form-control select2">
                                                                    <option selected disabled>From</option>
                                                                    @foreach (var item in Model.asset_subCodes)
                                                                    {
                                                                        <option value="@item.Id">@item.Code-@item.Name</option>

                                                                    }
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div id="rangeTo" class="form-group" style="display:none">

                                                                <select class="form-control select2">
                                                                    <option selected disabled>To</option>
                                                                    @foreach (var item in Model.asset_subCodes)
                                                                    {
                                                                        <option value="@item.Id">@item.Code-@item.Name</option>

                                                                    }
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">

                                                    <div class="form-group">

                                                        <label class="col-sm-12 control-label col-form-label">Asset SubCode<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                                        <select class="form-control select2" id="searchStatus1" name="SelectedActiveId" onchange="ShowTextBox(this);">
                                                            <option value="-1" selected>- No Filter -</option>
                                                            <option value="1">Multiple</option>
                                                            <option value="0">Range</option>
                                                        </select>

                                                    </div>
                                                    <div id="multiple1" class="col-sm-12" style="display:none">
                                                        <div class="form-group">

                                                            <select class="form-control select2">
                                                                <option selected disabled>Select</option>
                                                                @foreach (var item in Model.asset_subCodesFa)
                                                                {
                                                                    <option value="@item.Id">@item.AssetSubCode-@item.AssetName</option>

                                                                }
                                                            </select>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div id="rangeFrom1" class="col-sm-6" style="display:none">
                                                            <div class="form-group">

                                                                <select id="rangeFrom" class="form-control select2">
                                                                    <option selected disabled>From</option>
                                                                    @foreach (var item in Model.asset_subCodesFa)
                                                                    {
                                                                        <option value="@item.Id">@item.AssetSubCode-@item.AssetName</option>

                                                                    }
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div id="rangeTo1" class="form-group" style="display:none">

                                                                <select class="form-control select2">
                                                                    <option selected disabled>To</option>
                                                                    @foreach (var item in Model.asset_subCodesFa)
                                                                    {
                                                                        <option value="@item.Id">@item.AssetSubCode-@item.AssetName</option>

                                                                    }
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn-container text-center">

                                                    <div class="dropdown btn btn-primary btn-fix-width">
                                                        <input type="button" class="dropbtn btn" onclick="transactionDate()" value="Extract" />

                                                    </div>

                                                </div>

                                            </div>
                                        </ul>
                                    </li>
                                    <li>
                                        <div id="detailinfo" class="link"><span>Detailed INFO</span><i class="fa fa-chevron-down"></i></div>
                                        <ul id="detailinfo" class="submenu">
                                        </ul>
                                        <div class="clearfix"></div>
                                        <div class="btn-container text-center">
                                            <div class="dropdown btn btn-primary btn-fix-width">
                                                <button class="dropbtn" disabled>Save <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                                                <div class="dropdown-content">
                                                    <ul>
                                                        <li style="margin-top:2px"><input type="button" onclick="Submit(1 ,this)" value="Draft" class="btn btn-primary draftbtn" style="width: 100%;" /></li>
                                                        <li style="margin-top:2px"><input type="button" onclick="Submit(2,this)" value="Save" class="btn btn-primary savebtn" style="width: 100%;" /></li>
                                                        <li style="margin-top:2px"><input type="button" onclick="Submit(3,this)" value="Save & Post" class="btn btn-primary" style="width: 100%;" /></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>



                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script>

      

       var rowcount = 0;

        function transactionDate() {

            var date = $("#TransDate").val();
            var datesplit = date.split("-");
            var date1 = datesplit[0];
            var date2 = datesplit[1];
            $("#Year").val(date1);
            $("#Month").val(date2);

            $.ajax({
                url: "/FixedAssetDisposal/GetAssetSubCode",
                type: "POST",
                data: { "year": date1, "month": date2 },
                success: function (data) {
                    debugger;
                    rowcount = data.rowcount;
                    $("#bindmultiplerows").html(data.data);
                },
                error: function () {
                }
            });
        };

        function FormSubmit(event) {

            var data = new FormData(document.getElementById("myform"));

            debugger;
            var data1 = GetMultipleFormValues();
            debugger;
            data.append("MultiValuesWriteOff", JSON.stringify(data1));
            $.ajax({
                url: "Create",
                type: "POST",
                contentType: false,
                processData: false,
                data: data,
                success: function (res) {

                    window.location.href = "/FixedAssetWriteOff/Index";
                }
            });

            event.preventDefault();

        }

function HideTextBox(ddlId) {
            var ControlName = document.getElementById("searchStatus");
            if (ControlName.value == "-1") {
                document.getElementById('multiple').style.display = 'none';
                document.getElementById('rangeFrom').style.display = 'none';
                document.getElementById('rangeTo').style.display = 'none';



            }
            if (ControlName.value == "1") {
                document.getElementById('multiple').style.display = 'block';
                document.getElementById('rangeFrom').style.display = 'none';
                document.getElementById('rangeTo').style.display = 'none';



            }
            if (ControlName.value == "0") {
                document.getElementById('multiple').style.display = 'none';
                document.getElementById('rangeFrom').style.display = 'block';
                document.getElementById('rangeTo').style.display = 'block';



            }
        };

        function ShowTextBox(ddlId) {
            var ControlName = document.getElementById("searchStatus1");
            if (ControlName.value == "-1") {
                document.getElementById('multiple1').style.display = 'none';
                document.getElementById('rangeFrom1').style.display = 'none';
                document.getElementById('rangeTo1').style.display = 'none';



            }
            if (ControlName.value == "1") {
                document.getElementById('multiple1').style.display = 'block';
                document.getElementById('rangeFrom1').style.display = 'none';
                document.getElementById('rangeTo1').style.display = 'none';



            }
            if (ControlName.value == "0") {
                document.getElementById('multiple1').style.display = 'none';
                document.getElementById('rangeFrom1').style.display = 'block';
                document.getElementById('rangeTo1').style.display = 'block';



            }
        };

        function Submit(id) {
            debugger;
            $("#CreationStatus").val(id);
            if (id == 1) $('input[type=text]').removeAttr('required');

        }

        $("input[type=text]").on("keypress", function (e) {
            if (e.which === 32 && !this.value.length)
                e.preventDefault();
        });

        $('.text-danger').on('DOMSubtreeModified', function () {
            var span_Text = document.getElementById("Code-error").innerText;
            if (span_Text == "Code Already Exist!") {
                $("#submit").attr("disabled", true)
                $("#submit").removeClass("btn btn-primary btn-fix-width");
                $("#submit").addClass("btn btn-secondary btn-fix-width");
            } else {
                $("#submit").attr("disabled", false)
                $("#submit").removeClass("btn btn-secondary btn-fix-width");
                $("#submit").addClass("btn btn-primary btn-fix-width");
            }
        });
    function hidedata() {
        $("#headerinfo").toggle();
    }
    function hidedata1() {
        $("#filter").toggle();
    }
    function hidedata2() {
        $("#detailinfo").toggle();
    }
    </script>
}
