@model FixedModules.Models.Setup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Setup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monthy_UL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monthy_UL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Daily_UL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Daily_UL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reducing_Balance_UL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reducing_Balance_UL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
